{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Request management
{% endblock  %}
{% block content %}
<div class="container">
{% if  request.user.is_superuser %}   
<div class="row row-cols-4 row-cols-md-4 g-4 m-3">
<br>
  <div class="col">
    <h3>Request Management</h3>
      <div class="card-body">
        <h5 class="card-title">{{issue}}</h5>
        <h6 class="card-text">Book : {{ issue.book }}</h6>
        <h6 class="card-text">User : {{ issue.user }}</h6>
        <p class="card-text">Issue Date : {{ issue.issue_date }}</p>
        <p class="card-text">Renual Date : {{ issue.renual_date }}</p>
        <p class="card-text">Return Date : {{ issue.return_date }}</p>
        <form method="POST" action="{% url 'update_status' issue.id %}">
    {% csrf_token %}

    {{ form | crispy }}
    <button type="submit" class="btn btn-primary"> Save </button>                
        </form>
      </div>
    </div>
</div>    
{% else %}
<br>
    <p style="color:red;"> You Do Not Have the Permission To Access This Page</p>
{% endif %} 
</div>
{% endblock  %}